:root {
    --primary-title-color: #212121;
}

:root {
    --primary-text-color: #757575;
}
:root {
    --contact-color: #ffffff;
}
:root {
    --logo-text-color: #2196F3;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

li {
    list-style-type: none;
}

/* невидимі заголовки */

.invisible-title {
    display: none;
    visibility: hidden;
}


/* студія */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-title-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.slogan {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
justify-content: center;
color: var(--contact-color);
margin: 0px;
}


.hero-slogan {
    padding-left: 452px;
    padding-right: 452px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}



.btn {
font-weight: bold;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
color: var(--contact-color);
background-color: var(--logo-text-color);
margin-top: 30px;
justify-content: center;
border-radius: 4px;
}

.btn:hover, .btn:focus {
    color: var(--primary-title-color);
}

.features {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin: 0;
}

.features-text {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}



.features-list {
    display: flex;
    /* margin-top: 94px; */
}
.features:not(:last-child) {
    margin-right: 30px;
    }
.features-text {
    margin-right: 30px;
    margin-top: 10px;
    }



.works {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
/* margin-top: 94px; */
text-align: center;
}


.about-list {
    display: flex;
    /* margin-bottom: 94px; */
    margin-top: 50px;
}
.about-item:not(:last-child) {
margin-right: 30px;
}


.team {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
}

.team-icon {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}

.team-text {
font-weight: normal;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}



.team-lists {
    display: flex;
    margin-top: 50px;
    /* padding-bottom: 94px; */
} 

.team-list:not(:last-child) {
    margin-right: 30px;
    }
.team-icon {
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-text {
    padding-bottom: 30px;
}



.contacts-map {
    margin-top: 20px;
    margin-bottom: 9px;
}
.contacts-tel {
    margin-top: 9px;
    padding-bottom: 60px;
}

footer {
    padding-top: 60px;
}

/* портфоліо */


/* хедер */
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
    }

    .web {
        color: var(--logo-text-color);
    }
   


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
}

.contact-list {
    display: flex;
}

.header-connect {
    margin-left: auto;
}
.header-container {
    display: flex;
    align-items: center;
}

/* .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
} */
.header-link:not(:last-child) {
    margin-right: 50px;
}

.name-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    text-decoration: none;
}

.name-link:hover, .name-link:focus {
    color: var(--logo-text-color);
}

.name-link.current {
    color: var(--logo-text-color);
}
.contact-item-mail {
    margin-left: 331px;
}
.contact-item-tel {
    margin-left: 50px;
}

.header-mail-contact, .header-tel-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.header-mail-contact:hover, .header-mail-contact:focus {
    color: var(--logo-text-color);
}

.header-tel-contact:hover, .header-tel-contact:focus {
    color: var(--logo-text-color);
}





/* кнопки */
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px
}
.button:hover, button:focus {
    color: var(--contact-color);
    background-color: var(--logo-text-color)
}

.buttons-list {
    display: flex;
    justify-content: center;
}
.button {
    margin-right: 8px;
    }
/* .buttons-list {
    padding-top: 100px;
} */



/* проекти */
.project-name {
font-weight: bold;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
}

.project-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    padding-bottom: 94px;
}
.project-item:not(:last-child) {
    margin-right: 20px;
}
.project-item {
    border-bottom: 1px solid #EEEEEE;
}

.project-name {
    margin-top: 20px;
    margin-bottom: 4px;
}
.project-text {
    padding-bottom: 20px;
}



/* футер */
.footer {
    background-color: #2F303A;
}
.logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}

.map-link {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--contact-color);
text-decoration: none;
}

.map-link:hover, .map-link:focus {
    color: var(--logo-text-color);
}


.mail-contact, .tel-contact {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.mail-contact:hover, .mail-contact:focus {
    color: var(--logo-text-color);
}

.tel-contact:hover, .tel-contact:focus {
    color: var(--logo-text-color);
}
